*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
.container{
    background: rgba(0, 0, 0, 0.959);
    min-height: 100vh;
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 80%;
    margin: auto;
    padding: 20px 0 ;
}
.logo{
    width: 50px;
}
ul li  {
    display: inline-block;
}
ul li a{
    text-decoration: none;
  padding: 0 10px;
    color: white;
}
.main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.left{
    color: white;
    padding: 20px 0;
    width: 40%;
}
.left h2{
    font-size: 35px;
}
.left p{
    font-size: 18px;
    margin: 15px 0;
}
.left a{
   text-decoration: none;
   color: black;
   background: white;
   padding: 8px 15px;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}
.right{
    width:30%;

}
.right img{

    width: 220px;
}
.icons{
    position: absolute;
    bottom: 20;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.icons img{
    width: 50px;
    margin: 0 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.icons img:hover{
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
}
















